<!DOCTYPE html>
html(lang="en")
    include components/head.pug

    include body.pug
    
    script(src="/vendors/jquery/jquery.min.js")
    script(src="/vendors/bootstrap-3/js/bootstrap.min.js")
    script(src="/vendors/easing/easing.min.js")
    script(src="/vendors/counterup/counterup.min.js")
    script(src="/vendors/superfish/superfish.min.js")
    script(src="/vendors/wow/wow.min.js")
    script(src="/themes/default/js/main.js")
    