section(id="experience", class="section section-experience wow fadeInUp", style="visibility: visible; animation-name: fadeInUp;")
    div(class="header-section")
        h2(class="h2-section") EDUCATIONS
    div(class="row")
        div(class="col-md-12 col-md-offset-1")
            span(class="icon-experience")
                i(class="fa fa-briefcase")
            div(class="all-experience hidden-xs show-sm show-md show-lg")
                div(class="experience-content")
                    div(class="period-experience")
                        img(src="/themes/default/img/stt.png", alt="STT Malang", width="110")
                    h3(class="specialty-name") Diploma 3
                    h3(class="company-name") Universitas Negeri Bandung
                    p(class="prg-experience") Informatics Engineering