section(id="experience", class="section section-experience wow fadeInUp", style="visibility: visible; animation-name: fadeInUp;")
    div(class="header-section")
        h2(class="h2-section") EXPERIENCE
    div(class="row")
        div(class="col-md-12 col-md-offset-1")
            span(class="icon-experience")
                i(class="fa fa-briefcase")
            div(class="all-experience hidden-xs show-sm show-md show-lg")
                div(class="experience-content")
                    span(class="period-experience") Mar 2019 - Current
                    h3(class="specialty-name") Fullstack Web Programmer
                    h3(class="company-name") PT. Ivonesia Solusi Data
                    p(class="prg-experience")
                        | Sampai saat ini saya masih diperusahaan ini, disini saya
                        | membuat, memperbaiki segala sesuatu yang berhubungan dengan aplikasi yang saya buat
                        | dan bertanggung jawab atas kelancaran aplikasi pada client perusahaan.