section(id="hero")
    div(class="hero-container")
        h1 Malang
            span(style="color: rgb(102, 202, 152) !important; font-family: Poppins, sans-serif;")  Software
        h2 Solusi Total Untuk Masalah IT Perusahaan Anda
            br
            a(href="#services", class="btn-get-started", style="margin-top: 50px;") Lihat Lebih Lanjut